body {
    background-color: #d6d5e2;
    color: rgba(20, 10, 10, 0.399);
    font-family: Tahoma;
    text-align: center;
}

.headline {
    font-size: 70px;
}

.beginner{
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: #6dc97b;
    border-radius: 8px;
    border-color: rgb(137, 135, 135);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.beginner:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.beginner:active {
    position: relative;
    top: 1px;
}

.medium{
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: #d2e076;
    border-radius: 8px;
    border-color: rgb(137, 135, 135);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.medium:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.medium:active {
    position: relative;
    top: 1px;
}

.expert{
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: #d33a3a;
    border-radius: 8px;
    border-color: rgb(137, 135, 135);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.expert:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.expert:active {
    position: relative;
    top: 1px;
}

table {
    margin: auto;

}

.cell {
    width: 40px;
    height: 40px;
    background-color: gainsboro;
    border: 1px solid white;
}

.cell img {
    width: 25px;
    height: auto;
}

.shown {
    background-color: rgba(7, 52, 251, 0.407);
}

.flag {
    background: #fff url("../img/flag.png") center center/cover no-repeat;

}

.modal {
    display: none;
    border: solid 3px grey;
    width: 300px;
    height: 200px;
    background-color: rgb(222, 226, 228);
    color: black;
    font-size: 32px;
    margin-top: 100px;
    position: absolute;
    top: 200px;
}

.hints img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.use-hint {
    border: 3px yellow solid;
}

.safe-click {
    background-color: #33bdef;
}

.counter-flags img {
    width: 30px;
    height: 30px;
}

.safe-click-btn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    margin-top: 20px;
}

.safe-click-btn:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

.safe-click-btn:active {
    position: relative;
    top: 1px;
}

.smiley-btn {
    margin: 20px 0px;
    font-size: 20px;
}

.counter-flags img {
    margin-left: 30px;
}

.timerBox {
    margin: 20px 0px;
}


.mega-click-btn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    margin-top: 20px;
}

.mega-click-btn:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

.mega-click-btn:active {
    position: relative;
    top: 1px;
}

.mega-click-btn-on {
    color: black;
}

.manually-positioned-btn {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    margin-top: 20px;
}

.manually-positioned-btn:hover {
    background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color: #019ad2;
}

.manually-positioned-btn:active {
    position: relative;
    top: 1px;
}

.manually-positioned-btn-on {
    color: black;
}

.lives {
    width: 25px;
    margin-left: 10px;
}
.hints {
    width: 50px;
    
}

.life-hint {
    margin: 20px auto;
    padding: 10px;
}